<h1 class="fw-bold fs-4">Favoris :</h1>
<hr />

<div *ngIf="favoriteBooks.length === 0" class="alert alert-info">
  <strong>Vous n'avez ajouté aucun livre aux favoris.</strong>
</div>
<ul class="list-group">
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let book of favoriteBooks"
  >
    {{ book.title }}
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="removeFromFavorites(book.id)"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </li>
</ul>
