<h1 class="fw-bold fs-4">Livre ajoutés :</h1>
<hr />
<!-- <div>
  <p *ngIf="books.length === 0">
    Vous n'avez ajouté aucun livre pour le moment.
  </p>

  <div *ngFor="let book of books">
    <span>{{ book.title }}</span>
    <div>
      <a [routerLink]="['book-details', book.id]">Détails</a>
      <button (click)="onDeleteBook(book.id)">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button>
        <i class="fa-solid fa-heart" (click)="addToFavorite(book.id)"></i>
      </button>
    </div>
  </div>
</div> -->

<div *ngIf="books.length === 0" class="alert alert-info">
  <strong>Vous n'avez ajouté aucun livre.</strong>
</div>

<ul class="list-group">
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let book of books"
  >
    {{ book.title }}
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="getBookDetails(book.id)"
      >
        Détails
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="onDeleteBook(book.id)"
      >
        Supprimer
      </button>
      <button
        type="button"
        class="btn btn-success btn-sm"
        (click)="onAddToFavorite(book.id)"
      >
        <i class="fa-solid fa-heart"></i>
      </button>
    </div>
  </li>
</ul>
