<div
  class="w-[600px] h-[250px] mx-auto mt-[200px] mb-10 bg-white shadow-2xl shadow-blue-950 rounded-md px-10"
>
  <h1 class="text-6xl font-bold text-center mb-3">
    <span class="text-lg">{{ book.title }}</span>
  </h1>
  <hr />
  <div class="informations mt-6">
    <h2>
      <span class="text-xl font-bold">Auteur : </span>
      <span class="text-lg">{{ book.author }}</span>
    </h2>
    <h2>
      <span class="text-xl font-bold">Date d'édition : </span>
      <span class="text-lg">{{ book.title }}</span>
    </h2>
    <h2>
      <span class="text-xl font-bold">Prix : </span>
      <span class="text-lg">{{ book.price }}</span> &euro;
    </h2>
    <h2>
      <span class="text-xl font-bold">Tu as apprécié ce livre ? : </span>
      <span class="text-lg">{{ bookIsFavorite ? "Oui" : "Non" }}</span>
    </h2>
  </div>
</div>
