<!-- <div>
  <h1>
    <span>{{ book.title }}</span>
  </h1>
  <hr />
  <div>
    <h2>
      <span>Auteur : </span>
      <span>{{ book.author }}</span>
    </h2>
    <h2>
      <span>Date d'édition : </span>
      <span>{{ book.title }}</span>
    </h2>
    <h2>
      <span>Prix : </span>
      <span>{{ book.price }}</span> &euro;
    </h2>
    <h2>
      <span>Tu as apprécié ce livre ? : </span>
      <span>{{ bookIsFavorite ? "Oui" : "Non" }}</span>
    </h2>
  </div>
</div> -->

<div class="d-flex justify-content-center align-items-center p-5 w-75 mx-auto">
  <div class="card p-5">
    <h1>Titre : {{ book.title }}</h1>
    <hr />
    <h2>Auteur : {{ book.author }}</h2>
    <h2>Date d'édition : {{ book.editionDate }}</h2>
    <h2>Prix : {{ book.price }}</h2>
    <h2>Tu as aimé ce livre : {{ bookIsFavorite ? "Oui" : "Non" }}</h2>
  </div>
</div>
